idea_1/index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="styles/style.css")
  body 
    nav
      .container
        h1 title 
        .menu 
          a(href="#").is-active home 
          a(href="#") About
          a(href="#") Project
          a(href="#") Contact
        button.hamburger.is-active#hamburger(onclick="toggleHamburger()")
          span 
          span 
          span 
    main 
      section https://www.youtube.com/watch?v=ZzQdVy8b8n4
    script(src="main.js") 

idea_1/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body> 
    <nav>
      <div class="container">
        <h1>title </h1>
        <div class="menu"> <a class="is-active" href="#">home </a><a href="#">About</a><a href="#">Project</a><a href="#">Contact</a></div>
        <button class="hamburger is-active" id="hamburger" onclick="toggleHamburger()"><span> </span><span> </span><span> </span></button>
      </div>
    </nav>
    <main> 
      <section>https://www.youtube.com/watch?v=ZzQdVy8b8n4</section>
    </main>
    <script src="main.js"> </script>
  </body>
</html>
